<div class="container">
  <table class="table my-5 border text-center">
    <thead>
      <tr>
        <th scope="col">PROJECT ID</th>
        <th scope="col">PROECT NAME</th>
        <th scope="col">NO OF EMPLOYEES</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let dat of data | paginate : { itemsPerPage: 5, currentPage: p }
        "
      >
        <td scope="row" class="p-4">{{ dat.eid }}</td>
        <td class="p-4">{{ dat.pname }}</td>
        <td class="p-4">{{ dat.numOfEmp }}</td>
        <td class="p-4"><button>Approve</button><button>Deny</button></td>
      </tr>

      <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
        </tr> -->
    </tbody>
  </table>
  <div class="tablecontrolCont">
    <pagination-controls
      (pageChange)="p = $event"
      class="mx-auto tablecontrol"
    ></pagination-controls>
  </div>
</div>
