.profilePic {
  width: 36px;
  height: 36px;
  border-radius: 4.5px;
}
.profile {
  justify-content: center;
  align-items: center;
}
.searchBar {
  border-left: none !important ;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.searchicon {
  border: 1px solid #ced4da;
  border-right: none;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.navbar-brand img {
  width: 136px;
  height: auto;
}
.navhover {
  font-weight: 700;
}
.navhover:hover {
  // width: 100%;
  // border-bottom: 2px solid #00bdd6ff; /* primary-500 */
  // border-radius: 0px;
  color: #00bdd6ff !important;
  cursor: pointer;
}

.nav-active {
  width: 100%;
  border-bottom: 2px solid #00bdd6ff; /* primary-500 */
  border-radius: 0px;
  color: #00bdd6ff !important;
  cursor: pointer;
}
