<nav class="navbar navbar-expand-lg bg-body-tertiary border">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="../assets/logo.png" class="img-fluid" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link navhover"
            [ngClass]="{ 'nav-active': count === '1' }"
            (click)="change('1')"
            aria-current="page"
            [routerLink]="['/manager/project-list']"
            >All Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link navhover"
            [ngClass]="{ 'nav-active': count === '2' }"
            [routerLink]="['/manager/project-list']"
            (click)="change('2')"
            >Pending Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link navhover"
            [ngClass]="{ 'nav-active': count === '3' }"
            [routerLink]="['/manager/project-list']"
            (click)="change('3')"
            >Past Projects</a
          >
        </li>
      </ul>
      <a
        class="btn btn-dark me-1"
        [routerLink]="['/manager/create-project']"
        (click)="change('4')"
      >
        Create Project
      </a>
      <!-- (click)="createProject()" -->
      <form class="d-flex" role="search">
        <a href="" class="btn searchicon">
          <i class="fa-solid fa-magnifying-glass"></i
        ></a>
        <input
          class="form-control me-2 searchBar"
          type="search"
          placeholder=" Search"
          aria-label="Search"
        />

        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
      <div class="profile d-flex">
        <img
          src="../assets/userPic.png"
          alt="user profile pic"
          class="profilePic mx-1"
        />
        <span>Amanda Smith</span>
      </div>
    </div>
  </div>
</nav>
